* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ;
}

body {
    background: linear-gradient(to right, #021338, #2aaeb3);
}

nav>ul {
    background-color: #5abef8;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    border: 4px solid #5abef8;
}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 100%;

}

nav>ul>li:not(:first-child) {
    border-top: 1px solid #5999fa;
}

nav>ul>li>a:hover,
nav>ul>li:hover {
    color: #021338;

}

.box {
    display: flex;
    flex-direction: column;
}

.box h3 {
    color: #5abef8;
}

.box ul {
    list-style: none;
}

.box a:link,
.box a:visited {
    text-decoration: none;
    color: #133261;
}

.box a:hover {
    text-decoration: underline;
}

.box div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav div {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: white;
}

nav img {
    width: 150px;
    display: block;
    margin: auto;
}

.whats {
    display: block;
    position: fixed;
    bottom: 55px;
    right: 65px;
}

.whats img {
    width: 80px;
    transition: 0.3s;
}

.whats img:hover {
    width: 110px;
}

section {
    padding: 40px;
    margin: auto;
    background-color: white;
}

section:nth-of-type(1) {
    margin-top: 80px;
    border-radius: 20px 20px 0 0;
}

.secImg {
    background-color: unset;
    justify-content: center;
    display: flex;
    margin: 0px !important;
    padding: 0px;
}

.secImg img {
    width: 100%;
    display: block;
    margin: auto;
}

.navegacao {
    text-align: center;
    margin-top: 10px;
}

.navegacao a {
    text-decoration: none;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 50%;
    color: #000;
    margin: 0 5px;
}

.greenbox {
    background-color: #6af0709d;
    justify-content: center;
    height: 51px;
}

.greenbox a:link,
.greenbox a:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #091930;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 10px;
}

.greenbox:hover {
    border-bottom: 1px solid #9afcb7;
    box-shadow: 0px 2px 5px#9afcb7;
}

.greenbox a:hover {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    gap: 30px;
    margin: 15px 0px 15px 0px;
    width: 100%;
    flex-basis: 1;
}

input[type="button"] {
    padding: 10px 20px;
    border: 0px;
    background-color: #021338;
    color: aliceblue;
    font-weight: bold;
    margin: auto;
    display: block;
    border-radius: 8px;

}

input[type="button"]:hover {
    background-color: #2aaeb3;
    color: #021338;
    cursor: pointer;
}

h1,
h2,
h3,
p {
    padding: 15px;
}

.container h3 {
    text-align: center;
    margin: 15px;

}

h2 {
    text-align: center;
    color: rgb(0, 72, 139);
}

h1 {
    text-align: center;
    display: block;
    transition: 0.5s;
}

h1:hover {
    color: #2aaeb3;
    letter-spacing: 2px;
    border-bottom: #021338;
    padding: 12px;
}

.secContato .container {
    flex-basis: auto;
}

.blue {
    background-color: #021338;
    color: #2aaeb3;
    flex-grow: 2;
}

.blue li {
    list-style: none;
}

.secContato>div>div {
    flex-grow: 1;
}

.servicos p {
    text-align: center;
}

.servicos div div {
    width: 100%;
}

.servicos div div img {
    width: 90%;
    border-bottom: 3px solid #dbecff;
    border-right: 3px solid #dbecff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #7bb0ff;
    display: block;
    margin: auto;
}
.servicos div div img:hover {
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    box-shadow: 2px 3px 10px #7bb0ff;
}
.card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.card a:link, .card a:visited{
    text-decoration: none;
    color: white;
}
.card a:hover{
    text-decoration: und;
}
.card div{
    background-color: #133261;
    border-radius: 20px;
    color: white;
}
footer p,
footer a:link,
footer a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

footer a:hover {
    text-decoration: underline;
}

footer div div {
    border: 1px solid white;
    border-radius: 10px;
}

/* Responsividade Desktop*/
@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: left;
    }

    nav div {
        justify-content: left;
        left: ;
    }

    nav img {
        margin-left: 25px;
    }

    .box {
        flex-direction: row;
    }

    .greenbox {
        display: block;
        width: 200px;
        height: 51px;
        top: 150px;
        right: 50px;
        position: absolute;
        justify-content: center;
    }

    section {
        width: 90%;
    }

    .container {
        flex-direction: row;
    }

    .whats {
        right: 25px;
    }

    .whats img {
        width: 100px;
    }

    .secImg img:hover {
    border-right: 4px solid #6bdcff;
    border-bottom: 4px solid #6bdcff;
}

    nav>ul>li:not(:first-child) {
        border-top: 0px solid #5999fa;
        border-left: 1px solid #5999fa;
    }

    .secHome {
        border-radius: 20px 20px 0 0;
    }

    .secImg {
        width: 100%;
        display: flex;
    }

    .secImg img {
        width: 90%;
        border-radius: 25px;
        display: block;
        margin: 80px 0px;
        border-right: 4px solid #5999fa;
        border-bottom: 4px solid #5999fa;
        transition: 0.5s;
    }

    .secImg img:hover {
        border-right: 4px solid #6bdcff;
        border-bottom: 4px solid #6bdcff;
    }
    .servicos div div {
    width: 33%;
    }
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
}